<div class="container-fluid p-0">
  <div class="container-layout">
    <app-sidebar id="sidebar"></app-sidebar>
    <main class="main-content">
      <app-navbar></app-navbar>
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <app-footer
        class="position-fixed bottom-0 left-0 w-100"
        id="footer"
      ></app-footer>
    </main>
  </div>
</div>
<!--===============================================================================-->
<!--LOADING-->
<!--===============================================================================-->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
