<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="actualPageInner <= 1 ? 'disabled' : ''">
      <a
        class="page-link active"
        (click)="goToPreviosPage()"
        tabindex="-1"
        title="Ir a la pagina anterior"
        >Anterior</a
      >
    </li>
    <li *ngFor="let page of pages" class="page-item">
      <a
        class="page-link"
        [ngClass]="page === actualPageInner ? 'active' : ''"
        (click)="setActualPage(page)"
        >{{ page }}</a
      >
    </li>
    <li class="page-item" [ngClass]="isLastPage ? 'disabled' : ''">
      <a
        class="page-link active"
        (click)="goToNextPage()"
        title="Ir a la pagina siguiente"
        >Siguiente</a
      >
    </li>
  </ul>
</nav>
