aside {
  background-color: #212121;
  height: 100%;
  max-width: 300px;
}
.hr-logo {
  color: #616161;
}
.active {
  background-color: #43a047;
  color: #fff;
}

aside > figure.logo > img {
  filter: invert(100%);
}

a {
  display: block;
  text-decoration: none;
  color: #bdbdbd;
  padding: 10px 0;
}

li {
  list-style-type: none;
}
li:hover {
  cursor: pointer;
  background-color: #43a047;
}
li a:focus {
  background-color: #43a047;
  color: #fff;
}
ul li > a > svg {
  margin-right: 15px;
  margin-bottom: 3px;
}
