/* You can add global styles to this file, and also import other style files */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.image-modal {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
