<table class="table table-striped table-hover table-sm">
  <thead class="bg-success text-white">
    <tr>
      <th class="text-center" *ngFor="let item of tableColumns" scope="col">
        {{ item }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <th scope="row">{{ item.id }}</th>
      <td>
        <a class="enlace" (click)="openModalUploadImage(item)">
          <img
            class="avatar"
            [src]="
              item.profileImage.length > 0
                ? imageUrl + item.profileImage
                : imageUrl + 'no-image.png'
            "
            [alt]="item.foto"
          />
        </a>
      </td>
      <td>{{ item.nombre }}</td>
      <td>{{ item.apellidoPaterno }}</td>
      <td>{{ item.apellidoMaterno }}</td>
      <td *ngIf="isCliente()">
        {{ item.region.nombre }}
      </td>
      <!--Si es  cliente-->
      <td *ngIf="isCliente()">{{ item.email }}</td>
      <td *ngIf="isCliente()">{{ item.createdAt | date : "dd-MM-yyyy" }}</td>
      <!--Si es usuario-->
      <td *ngIf="!isCliente()">
        {{ item.username }}
      </td>
      <td *ngIf="!isCliente()">
        <span *ngIf="item.enabled === 1" class="badge text-bg-primary">
          Si
        </span>
        <span *ngIf="item.enabled === 0" class="badge text-bg-danger">No</span>
      </td>
      <td class="text-center">
        <a
          class="mx-3 enlace"
          title="Editar"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="getSelectedItem(item)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pen-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"
            />
          </svg>
        </a>

        <a class="mx-3 text-danger" title="Eliminar" (click)="delete(item)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-trash-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
            />
          </svg>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<!--===============================================================================-->
<!--MODAL DE CLIENTES-->
<!--===============================================================================-->
<app-modal-client
  *ngIf="isCliente()"
  class="modal animate__animated animate__bounceIn"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  [cliente]="itemRow"
  [regiones]="regiones"
  (isClienteUpdated)="updateTable($event)"
></app-modal-client>

<!--===============================================================================-->
<!--MODAL DE UPLOAD IMAGE-->
<!--===============================================================================-->
<app-modal-upload-image
  *ngIf="isCliente()"
  class="modal animate__animated animate__bounceIn"
  id="modal-upload-image"
  tabindex="-1"
  aria-labelledby="upload-image"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  [cliente]="itemRow"
  [imageClientUrl]="imageUrl"
>
</app-modal-upload-image>
